.product {
    padding-bottom: 3.5rem;
    @media screen and (min-width: $bp-medium) {
        padding-bottom: 4.5rem;
    }
    &__cart-wrapper {
        text-align: center;
        padding: 3rem 0;
    } 
    &__wrapper {
        display: grid;
        @media screen and (min-width: $bp-medium) {
            grid-template-columns: 5fr 3fr;
            column-gap: 2.5rem;
        }
    }

    &__image {
        @media screen and (min-width: $bp-medium){
            grid-column: 1/2;
            grid-row: 1/2;
        }
    }
}

.product-features{
    @media screen and (min-width: $bp-medium){
        grid-row: 1 / span 2;
 
    }
    &__wrapper {
        margin: initial;
        padding:1.5rem 1rem;
        padding-bottom: 0;
        @media screen and (min-width: $bp-medium) {
            padding: initial;
            width: 100%;
        }
    }
    &__title {
        margin-bottom: 1.5rem;
    }
    &__price {
        display: inline-block;
        font-size: 1.25rem;
        margin-bottom: 1rem;
    }

}

.product-sizes {
    margin-bottom: 2rem;
    &__title {
        font-weight: bold;
        margin-bottom: 1rem;
        font-size: 1.1rem;
    }
}

.product-cant {
    margin-bottom: 2rem;
    &__cart-shop {
        margin-bottom:1rem;
        font-weight: bold;
        font-size: 1.1rem;
    }
    &__text-cant {
        display: inline-block;
        margin-right: .5rem;
        font-weight: bold;
        font-size: 1.1rem;
    }
    &__input {
        width:3.5rem;
        height: 2.5rem;
        padding-left: .5rem;

        &:focus {
         outline: none;
        }
    }

    &__addcart {
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        display: block;
        border: 1px solid grey;
        text-align: center;
        padding: 1rem 0;
        color: var(--color-black);
        border-radius: 4px;
        background-color: var(--color-white);
        &:hover {
            background-color: var(--color-grey-light);
        }
        @media screen and (min-width: $bp-medium) {
            width: 70%;
        }
    }
    &__checkout {
        display: block;
    }
}

.product-detail {
    &__wrapper {
        margin: initial;
        padding: 1rem 1rem 1.5rem 1rem;
        @media screen and (min-width: $bp-medium) {
            padding: initial;
            padding-top: 2rem;
            width: 100%;
        }
    }
}

.product-offers {
    &__title {
        display: inline-block;
        font-weight: bold;
        margin-bottom: 1rem;
    }
}

.product-table {
    text-align: center;
    border-spacing: 0;
    &__cell {
        &--head {
            border-bottom: 0.5px solid #bfbdbd;
            border-top: 0.5px solid #bfbdbd;
            padding: .5rem 1rem .5rem 0;
        }
    }
}