.shop {
    &__cart-wrapper {
        text-align: center;
        padding-top: 3rem;
    }
}
.cards {
    padding: 3rem 0 5rem 0;
    &__grid{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
        @media screen and (min-width: $bp-medium){
            grid-template-columns:repeat(2, 1fr);
            column-gap:2.5rem;
        }
        @media screen and (min-width: $bp-large) {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
